@import url(../css/transitions.css);
/* line 19, ../scss/controls.scss */
.container_12 {
  width: 100%;
}

/* line 23, ../scss/controls.scss */
.grid_6 {
  margin: 10px;
  width: 400px;
  display: inline-block;
  float: left;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url("./fonts/helveticaneueltstd-roman-webfont.eot");
  src: url("./fonts/helveticaneueltstd-roman-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/helveticaneueltstd-roman-webfont.woff") format("woff"), url("./fonts/helveticaneueltstd-roman-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MetaM';
  src: url("./fonts/metamediumlf-roman-webfont.eot");
  src: url("./fonts/metamediumlf-roman-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/metamediumlf-roman-webfont.woff") format("woff"), url("./fonts/metamediumlf-roman-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* line 49, ../scss/controls.scss */
body {
  background-color: #d6d6d6;
  font-family: 'HelveticaNeue';
}

/* line 54, ../scss/controls.scss */
img {
  border: 0px;
}

/* line 64, ../scss/controls.scss */
.bsm_selection {
  font-size: 15px;
  vertical-align: top;
}
/* line 69, ../scss/controls.scss */
.bsm_selection .bsm_selection_menu {
  color: #929292;
  position: absolute;
  width: 250px;
  z-index: 10;
  max-height: 150px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
/* line 77, ../scss/controls.scss */
.bsm_selection .bsm_selection_menu > * {
  -webkit-transform: translateZ(0px);
}
/* line 80, ../scss/controls.scss */
.bsm_selection .bsm_selection_menu .bsm_selection_btn {
  border: 1px #a3a3a3 solid;
  background-color: white;
}

/* line 86, ../scss/controls.scss */
.bsm_cell {
  min-height: 30px;
  padding: 10px;
}

/* line 91, ../scss/controls.scss */
.bsm_selection_title {
  border: 1px #a3a3a3 solid;
  background-color: white;
  border-radius: 5px !important;
  color: #929292;
}

/* line 97, ../scss/controls.scss */
#selectionListIcon {
  float: right;
  right: -10px;
  position: relative;
  top: -7px;
  background-image: url("../css/images/controls/selectionListIcon.png");
  width: 25px;
  height: 25px;
  right: 3px;
  z-index: 2;
}

/* line 110, ../scss/controls.scss */
.bsm_cell_content_title {
  padding: 15px;
}

/* line 113, ../scss/controls.scss */
.bsm_cell_padding {
  padding: 15px;
}

/* line 117, ../scss/controls.scss */
.bsm_cell_nopadding {
  padding: 6px;
}

/* line 121, ../scss/controls.scss */
.bsm_emtcell_accountName {
  display: inline-block;
  font-weight: bold;
}

/* line 128, ../scss/controls.scss */
.bsm-text-input {
  color: #929292;
  padding: 13px;
  font-size: 14px;
  width: 100%;
  border: 1px #a3a3a3 solid;
  background-color: white;
  border-radius: 5px !important;
}

/* line 138, ../scss/controls.scss */
.bsm-textarea-input {
  color: #929292;
  padding: 13px;
  font-size: 14px;
  width: 246px;
  border: 1px #a3a3a3 solid;
  background-color: white;
  border-radius: 5px !important;
}

/* line 147, ../scss/controls.scss */
.bsm-input-icon {
  right: 15px;
  float: right;
  display: inline;
  position: relative;
  top: -37px;
  width: 25px;
  height: 25px;
  z-index: 2;
}

/* line 157, ../scss/controls.scss */
.bsm-expanding-icon {
  right: 15px;
  float: right;
  display: inline;
  position: relative;
  top: -37px;
  width: 25px;
  height: 25px;
  z-index: 2;
}

/* line 167, ../scss/controls.scss */
.bsm-textareainput-icon {
  right: 15px;
  float: right;
  display: inline;
  position: absolute;
  top: -37px;
  width: 25px;
  height: 25px;
  z-index: 2;
}

/* line 177, ../scss/controls.scss */
input::-webkit-input-list-button {
  display: none !important;
}

/* line 181, ../scss/controls.scss */
.input_notselected {
  background-image: url("../css/images/controls/inputIcon.png");
}

/* line 184, ../scss/controls.scss */
.input_selected {
  background-image: url("../css/images/controls/xsm.png");
}

/* line 189, ../scss/controls.scss */
.expanding_notselected {
  background-image: url("../css/images/controls/bluedownarrow.png");
}

/* line 192, ../scss/controls.scss */
.expanding_selected {
  background-image: url("../css/images/controls/blueuparrow.png");
}

/* line 196, ../scss/controls.scss */
expanding_visible {
  display: inline-block;
}

/* line 199, ../scss/controls.scss */
expanding_invisible {
  display: none;
}

/* line 205, ../scss/controls.scss */
.bsm_label {
  padding: 15px;
  border: 1px #a3a3a3 solid;
  background-color: white;
  color: #929292;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 211, ../scss/controls.scss */
.bsm_label .bsm_cell_accountName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 230px;
}

/* line 220, ../scss/controls.scss */
.bsm_toggle {
  font-size: 15px;
  font-weight: bold;
  white-space: nowrap;
}

/* line 226, ../scss/controls.scss */
.bsm-toggle-menu {
  font-size: 9px;
  white-space: nowrap;
}

/* line 230, ../scss/controls.scss */
.bsm-toggle-left {
  display: inline-block;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 10px;
  border: 1px #a3a3a3 solid;
  background-color: white;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -ms-border-top-left-radius: 10px;
  -o-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -ms-border-bottom-left-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  min-width: 40px;
  padding-left: 10px;
}

/* line 244, ../scss/controls.scss */
.bsm-toggle-right {
  display: inline-block;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 10px;
  border: 1px #a3a3a3 solid;
  background-color: white;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  -ms-border-top-right-radius: 10px;
  -o-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -ms-border-bottom-right-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  min-width: 40px;
  margin: 0 auto;
}

/* line 256, ../scss/controls.scss */
.toggle_on {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #1b367a), color-stop(100%, #5d92f7));
  background-image: -webkit-linear-gradient(bottom, #1b367a 0%, #5d92f7 100%);
  background-image: -moz-linear-gradient(bottom, #1b367a 0%, #5d92f7 100%);
  background-image: -o-linear-gradient(bottom, #1b367a 0%, #5d92f7 100%);
  background-image: -ms-linear-gradient(bottom, #1b367a 0%, #5d92f7 100%);
  background-image: linear-gradient(bottom, #1b367a 0%, #5d92f7 100%);
  color: #fff;
}

/* line 260, ../scss/controls.scss */
.toggle_off {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #bdbdbd));
  background-image: -webkit-linear-gradient(top, #fbfbfb 0%, #bdbdbd 100%);
  background-image: -moz-linear-gradient(top, #fbfbfb 0%, #bdbdbd 100%);
  background-image: -o-linear-gradient(top, #fbfbfb 0%, #bdbdbd 100%);
  background-image: -ms-linear-gradient(top, #fbfbfb 0%, #bdbdbd 100%);
  background-image: linear-gradient(top, #fbfbfb 0%, #bdbdbd 100%);
  color: #6d6d6d;
}

/* line 267, ../scss/controls.scss */
.bsm_warning {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -ms-box-align: stretch;
  box-align: stretch;
  min-width: 100%;
}
/* line 272, ../scss/controls.scss */
.bsm_warning .bsm_warning_icon {
  padding: 5px;
  width: 50px;
  min-height: 40px;
  background: url("../css/images/controls/confirm.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
  background-color: #dfe6a6;
  border: 1px #165610 solid;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -ms-border-top-left-radius: 10px;
  -o-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -ms-border-bottom-left-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
/* line 285, ../scss/controls.scss */
.bsm_warning .bsm_warning_msg {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  padding: 5px;
  min-height: 40px;
  color: #6d6d6d;
  font-size: 16px;
  font-weight: bold;
  background-color: #fff;
  border: 1px #165610 solid;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  -ms-border-top-right-radius: 10px;
  -o-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -ms-border-bottom-right-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* line 297, ../scss/controls.scss */
.bsm_warning .bsm_warning_icon_confirm {
  padding: 5px;
  width: 50px;
  min-height: 40px;
  background: url("../css/images/controls/confirm.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
  background-color: #dfe6a6;
  border: 1px #165610 solid;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -ms-border-top-left-radius: 10px;
  -o-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -ms-border-bottom-left-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
/* line 310, ../scss/controls.scss */
.bsm_warning .bsm_warning_msg_confirm {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  padding: 5px;
  min-height: 40px;
  color: #6d6d6d;
  font-size: 16px;
  font-weight: bold;
  background-color: #fff;
  border: 1px #165610 solid;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  -ms-border-top-right-radius: 10px;
  -o-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -ms-border-bottom-right-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* line 322, ../scss/controls.scss */
.bsm_warning .bsm_warning_icon_alert {
  padding: 5px;
  width: 50px;
  min-height: 40px;
  background: url("../css/images/controls/warning.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
  background-color: #fff4a3;
  border: 1px #f44a3e solid;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -ms-border-top-left-radius: 10px;
  -o-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -ms-border-bottom-left-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
/* line 335, ../scss/controls.scss */
.bsm_warning .bsm_warning_msg_alert {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  padding: 5px;
  min-height: 40px;
  color: #6d6d6d;
  font-size: 16px;
  font-weight: bold;
  background-color: #fff;
  border: 1px #f44a3e solid;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  -ms-border-top-right-radius: 10px;
  -o-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -ms-border-bottom-right-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* line 349, ../scss/controls.scss */
.bsm_scrollView {
  padding: 5px;
  margin: 3px;
  border: 1px #a3a3a3 solid;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  color: #929292;
  height: 100px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
/* line 361, ../scss/controls.scss */
.bsm_scrollView > * {
  -webkit-transform: translateZ(0px);
}

/* line 368, ../scss/controls.scss */
.bsm_Button:hover, .bsm_Button:focus, .bsm_Button.hover {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#121a2e), color-stop(0.5, #121a2e), color-stop(0.5, black), to(black));
  color: #fff;
}

/* line 374, ../scss/controls.scss */
.bsm_Button {
  display: inline-block;
  min-width: 10px;
  border: 1px #a3a3a3 solid;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #1b367a), color-stop(100%, #5d92f7));
  background-image: -webkit-linear-gradient(bottom, #1b367a 0%, #5d92f7 100%);
  background-image: -moz-linear-gradient(bottom, #1b367a 0%, #5d92f7 100%);
  background-image: -o-linear-gradient(bottom, #1b367a 0%, #5d92f7 100%);
  background-image: -ms-linear-gradient(bottom, #1b367a 0%, #5d92f7 100%);
  background-image: linear-gradient(bottom, #1b367a 0%, #5d92f7 100%);
  color: #fff;
  padding: 9px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  min-width: 40px;
  margin: 10px;
}
/* line 385, ../scss/controls.scss */
.bsm_Button #text {
  padding: 10px;
  display: inline;
}
/* line 389, ../scss/controls.scss */
.bsm_Button .bsm_icon {
  height: 15px;
  width: 15px;
  float: right;
  padding-right: 20px;
  position: relative;
  left: 4px;
  top: -5px;
}
/* line 390, ../scss/controls.scss */
.bsm_Button .bsm_icon svg path {
  -webkit-box-shadow: #333333 0px 0px 10px;
  -moz-box-shadow: #333333 0px 0px 10px;
  box-shadow: #333333 0px 0px 10px;
}
/* line 399, ../scss/controls.scss */
.bsm_Button .bsm_iconleft {
  height: 15px;
  width: 15px;
  float: left;
  padding-right: 20px;
  position: relative;
  left: 4px;
  top: -5px;
}
/* line 400, ../scss/controls.scss */
.bsm_Button .bsm_iconleft svg path {
  -webkit-box-shadow: #333333 0px 0px 10px;
  -moz-box-shadow: #333333 0px 0px 10px;
  box-shadow: #333333 0px 0px 10px;
}

/* line 411, ../scss/controls.scss */
.bsm_spinner {
  background-color: #000;
  padding: 15px;
  border-radius: 10px;
  position: fixed;
  top: 40%;
  left: 45%;
  z-index: 9999999;
  opacity: 0.8;
}

/* line 422, ../scss/controls.scss */
.bsm_spinner_with_text {
  background-color: #000;
  height: 80px;
  width: 80px;
  padding: 5px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: 50% 35%;
  background-size: 30px;
  position: fixed;
  top: 40%;
  left: 45%;
  z-index: 9999999;
  opacity: 0.8;
}
/* line 437, ../scss/controls.scss */
.bsm_spinner_with_text .text {
  width: 100%;
  text-align: center;
  position: absolute;
  padding-top: 5px;
  bottom: 5px;
  color: #FFF;
  font-size: 0.9em;
}

/* line 448, ../scss/controls.scss */
.bsm_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

/* line 459, ../scss/controls.scss */
.bsm_headerbar {
  width: 100%;
  display: block;
  border-top: none;
  position: relative;
  right: 5px;
  height: 40px;
  padding: 0px 10px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7d828c), color-stop(50%, #303749), color-stop(50%, #121a2e), color-stop(100%, #121a2e));
  background-image: -webkit-linear-gradient(top, #7d828c 0%, #303749 50%, #121a2e 50%, #121a2e 100%);
  background-image: -moz-linear-gradient(top, #7d828c 0%, #303749 50%, #121a2e 50%, #121a2e 100%);
  background-image: -o-linear-gradient(top, #7d828c 0%, #303749 50%, #121a2e 50%, #121a2e 100%);
  background-image: -ms-linear-gradient(top, #7d828c 0%, #303749 50%, #121a2e 50%, #121a2e 100%);
  background-image: linear-gradient(top, #7d828c 0%, #303749 50%, #121a2e 50%, #121a2e 100%);
  padding-left: 10px;
  z-index: 5;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
}
/* line 474, ../scss/controls.scss */
.bsm_headerbar h3 {
  margin: 0px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 20px;
  line-height: 40px;
  display: block;
  text-align: center;
  font-weight: bold;
}
/* line 485, ../scss/controls.scss */
.bsm_headerbar .button {
  color: #fff;
  margin: 0 auto;
  margin-top: 10px;
  max-height: 30px;
  vertical-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: bold;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 500, ../scss/controls.scss */
.bsm_headerbar .right {
  position: relative;
  margin: 10px;
  left: -10px;
}
/* line 507, ../scss/controls.scss */
.bsm_headerbar .button.blue {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #1b367a), color-stop(100%, #5d92f7));
  background-image: -webkit-linear-gradient(bottom, #1b367a 0%, #5d92f7 100%);
  background-image: -moz-linear-gradient(bottom, #1b367a 0%, #5d92f7 100%);
  background-image: -o-linear-gradient(bottom, #1b367a 0%, #5d92f7 100%);
  background-image: -ms-linear-gradient(bottom, #1b367a 0%, #5d92f7 100%);
  background-image: linear-gradient(bottom, #1b367a 0%, #5d92f7 100%);
  border: solid 1px rgba(25, 79, 219, 0.25);
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}
/* line 512, ../scss/controls.scss */
.bsm_headerbar .button.blue:hover, .bsm_headerbar .button.blue.hover {
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5), inset 0px 0px 2px rgba(255, 255, 255, 0.25), inset 0px 0px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5), inset 0px 0px 2px rgba(255, 255, 255, 0.25), inset 0px 0px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5), inset 0px 0px 2px rgba(255, 255, 255, 0.25), inset 0px 0px 2px rgba(0, 0, 0, 0.25);
  padding: 5px 9px 3px 11px;
}
/* line 516, ../scss/controls.scss */
.bsm_headerbar .button.black {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7d828c), color-stop(50%, #303749), color-stop(50%, #121a2e), color-stop(100%, #121a2e));
  background-image: -webkit-linear-gradient(top, #7d828c 0%, #303749 50%, #121a2e 50%, #121a2e 100%);
  background-image: -moz-linear-gradient(top, #7d828c 0%, #303749 50%, #121a2e 50%, #121a2e 100%);
  background-image: -o-linear-gradient(top, #7d828c 0%, #303749 50%, #121a2e 50%, #121a2e 100%);
  background-image: -ms-linear-gradient(top, #7d828c 0%, #303749 50%, #121a2e 50%, #121a2e 100%);
  background-image: linear-gradient(top, #7d828c 0%, #303749 50%, #121a2e 50%, #121a2e 100%);
  border: solid 1px rgba(79, 79, 79, 0.75);
}
/* line 520, ../scss/controls.scss */
.bsm_headerbar .button.black:hover, .bsm_headerbar .button.black:focus, .bsm_headerbar .button.black.hover {
  background-image: linear, 0% 0%, 0% 100%, from(#121a2e), color-stop(0.5, #121a2e), color-stop(0.5, black), to(black);
  color: #fff;
}
/* line 526, ../scss/controls.scss */
.bsm_headerbar .button {
  margin-top: 6px;
}
/* line 529, ../scss/controls.scss */
.bsm_headerbar .button.back {
  position: relative;
  left: 0px;
  margin: 5px;
  margin-right: 0px;
}
/* line 537, ../scss/controls.scss */
.bsm_headerbar .back.black > .pointer {
  background-image: linear, left top, right bottom, from(#7d828c), color-stop(0.5, #303749), color-stop(0.5, #121a2e), to(#121a2e);
  border-left: solid 1px rgba(79, 79, 79, 0.75);
  border: solid 1px rgba(79, 79, 79, 0.75);
  -webkit-border-top-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  height: 19px;
  width: 19px;
  -webkit-transform: rotate(45deg);
  -webkit-mask-image: -webkit-gradient(linear, left bottom, right top, from(black), color-stop(0.5, black), color-stop(0.5, transparent), to(transparent));
  position: absolute;
  left: -7px;
  top: 1px;
  -webkit-background-clip: content;
}
/* line 553, ../scss/controls.scss */
.bsm_headerbar .back:hover .pointer, .bsm_headerbar .back.hover .pointer {
@incude background-image(linear, left top, right bottom, from(#4286f5), color-stop(0.5, #4286f5), color-stop(0.5, #194fdb), to(#194fdb));
}
/* line 556, ../scss/controls.scss */
.bsm_headerbar .bsm_headerbarTitle {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  position: relative;
  right: 10px;
}

/* line 568, ../scss/controls.scss */
menu {
  z-index: 1001;
  overflow: visible;
}
/* line 571, ../scss/controls.scss */
menu .pop {
  position: relative;
  border: solid 2px #6a6a6a;
  margin: 0px;
  padding: 0px;
  font: normal 14px/16px Helvetica, Sans-serif;
  z-index: 1002;
  width: 300px;
  background-color: #121a2e;
  display: block;
  -webkit-padding-start: 0px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 10px #000;
  margin: 5px 5px 5px 5px !important;
}
/* line 591, ../scss/controls.scss */
menu .pop .menuHandle {
  position: absolute;
  top: -15px;
  left: 10px;
  height: 30px !important;
  width: 30px;
  border: solid 2px #6a6a6a;
  border-bottom: none;
  border-right: none;
  background-color: #7d828c !important;
  /* Mask Image Complete NOT YET */
  -webkit-mask-image: -webkit-gradient(linear, left top, right bottom, from(black), color-stop(0.5, black), color-stop(0.5, black), to(black));
  -o-mask-image: url(http://campfiresites.com/prototypes/images/bg-heading-orange-grid.png);
  -moz-mask-image: url(http://campfiresites.com/prototypes/images/bg-heading-orange-grid.png);
  mask-image: url(http://campfiresites.com/prototypes/images/bg-heading-orange-grid.png);
  /* Rotate Complete */
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  -o-transform: rotate(45deg);
  /* Opera */
  -moz-transform: rotate(45deg);
  /* Firefox */
}
/* line 614, ../scss/controls.scss */
menu .pop .menuHandleDown {
  position: absolute;
  bottom: -17px;
  left: 10px;
  height: 30px !important;
  width: 30px;
  border: solid 2px #6a6a6a;
  border-top: none;
  border-left: none;
  background-color: #121a2e !important;
  /* Mask Image Complete NOT YET */
  -webkit-mask-image: -webkit-gradient(linear, left top, right bottom, from(black), color-stop(0.5, black), color-stop(0.5, black), to(black));
  -o-mask-image: url(http://campfiresites.com/prototypes/images/bg-heading-orange-grid.png);
  -moz-mask-image: url(http://campfiresites.com/prototypes/images/bg-heading-orange-grid.png);
  mask-image: url(http://campfiresites.com/prototypes/images/bg-heading-orange-grid.png);
  /* Rotate Complete */
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  -o-transform: rotate(45deg);
  /* Opera */
  -moz-transform: rotate(45deg);
  /* Firefox */
  -webkit-box-shadow: 0px 5px 10px #000;
}
/* line 638, ../scss/controls.scss */
menu .pop .popdiv {
  display: inline-block;
  position: relative;
  z-index: 5;
  padding: 3px;
  background-color: #e5e5e5;
  margin: 3px 3px 10px 3px !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 649, ../scss/controls.scss */
menu .pop .popdiv .content {
  margin: 2px;
  height: 100%;
}
/* line 659, ../scss/controls.scss */
menu .pop .popdiv .control {
  overflow: hidden;
}
/* line 671, ../scss/controls.scss */
menu header {
  display: block;
  border-top: none;
  position: relative;
  width: 93%;
  height: 40px;
  padding: 0px 10px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7d828c), color-stop(50%, #303749), color-stop(50%, #121a2e), color-stop(100%, #121a2e));
  background-image: -webkit-linear-gradient(top, #7d828c 0%, #303749 50%, #121a2e 50%, #121a2e 100%);
  background-image: -moz-linear-gradient(top, #7d828c 0%, #303749 50%, #121a2e 50%, #121a2e 100%);
  background-image: -o-linear-gradient(top, #7d828c 0%, #303749 50%, #121a2e 50%, #121a2e 100%);
  background-image: -ms-linear-gradient(top, #7d828c 0%, #303749 50%, #121a2e 50%, #121a2e 100%);
  background-image: linear-gradient(top, #7d828c 0%, #303749 50%, #121a2e 50%, #121a2e 100%);
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  -ms-border-top-left-radius: 8px;
  -o-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  -ms-border-top-right-radius: 8px;
  -o-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  z-index: 5;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
}
/* line 690, ../scss/controls.scss */
menu header h3 {
  margin: 0px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 20px;
  line-height: 40px;
  display: block;
  text-align: center;
  font-weight: bold;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
}
/* line 703, ../scss/controls.scss */
menu header .button {
  color: #fff;
  margin: 0;
  max-height: 33px;
  vertical-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: bold;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 719, ../scss/controls.scss */
menu header .button.blue {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4286f5), to(#194fdb));
  border: solid 1px rgba(25, 79, 219, 0.25);
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}
/* line 724, ../scss/controls.scss */
menu header .button.blue:hover, menu header .button.blue.hover {
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5), inset 0px 0px 2px rgba(255, 255, 255, 0.25), inset 0px 0px 2px rgba(0, 0, 0, 0.25);
  padding: 5px 9px 3px 11px;
}
/* line 728, ../scss/controls.scss */
menu header .button.black {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7d828c), color-stop(50%, #303749), color-stop(50%, #121a2e), color-stop(100%, #121a2e));
  background-image: -webkit-linear-gradient(top, #7d828c 0%, #303749 50%, #121a2e 50%, #121a2e 100%);
  background-image: -moz-linear-gradient(top, #7d828c 0%, #303749 50%, #121a2e 50%, #121a2e 100%);
  background-image: -o-linear-gradient(top, #7d828c 0%, #303749 50%, #121a2e 50%, #121a2e 100%);
  background-image: -ms-linear-gradient(top, #7d828c 0%, #303749 50%, #121a2e 50%, #121a2e 100%);
  background-image: linear-gradient(top, #7d828c 0%, #303749 50%, #121a2e 50%, #121a2e 100%);
  border: solid 1px rgba(79, 79, 79, 0.75);
}
/* line 732, ../scss/controls.scss */
menu header .button.black:hover, menu header .button.black:focus, menu header .button.black.hover {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#121a2e), color-stop(0.5, #121a2e), color-stop(0.5, black), to(black));
  color: #fff;
}
/* line 738, ../scss/controls.scss */
menu header .button {
  margin-top: 6px;
}
/* line 741, ../scss/controls.scss */
menu header .button.back {
  position: relative;
  left: 0px;
  margin: 5px;
  margin-right: 0px;
}
/* line 750, ../scss/controls.scss */
menu header .back.black > .pointer {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#7d828c), color-stop(0.5, #303749), color-stop(0.5, #121a2e), to(#121a2e));
  border-left: solid 1px rgba(79, 79, 79, 0.75);
  border: solid 1px rgba(79, 79, 79, 0.75);
  -webkit-border-top-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  height: 19px;
  width: 19px;
  display: inline-block;
  -webkit-transform: rotate(45deg);
  -webkit-mask-image: -webkit-gradient(linear, left bottom, right top, from(black), color-stop(0.5, black), color-stop(0.5, transparent), to(transparent));
  position: absolute;
  left: -7px;
  top: 1px;
  -webkit-background-clip: content;
}
/* line 766, ../scss/controls.scss */
menu header .back:hover .pointer, menu header .back.hover .pointer {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#4286f5), color-stop(0.5, #4286f5), color-stop(0.5, #194fdb), to(#194fdb));
}

/* line 773, ../scss/controls.scss */
.bsm_navbar {
  position: fixed;
  bottom: 0px;
  padding-right: 15px;
  display: block;
  border-top: none;
  width: 100%;
  height: 60px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7d828c), color-stop(50%, #303749), color-stop(50%, #121a2e), color-stop(100%, #121a2e));
  background-image: -webkit-linear-gradient(top, #7d828c 0%, #303749 50%, #121a2e 50%, #121a2e 100%);
  background-image: -moz-linear-gradient(top, #7d828c 0%, #303749 50%, #121a2e 50%, #121a2e 100%);
  background-image: -o-linear-gradient(top, #7d828c 0%, #303749 50%, #121a2e 50%, #121a2e 100%);
  background-image: -ms-linear-gradient(top, #7d828c 0%, #303749 50%, #121a2e 50%, #121a2e 100%);
  background-image: linear-gradient(top, #7d828c 0%, #303749 50%, #121a2e 50%, #121a2e 100%);
  z-index: 9999;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
}
/* line 787, ../scss/controls.scss */
.bsm_navbar .nav_container {
  margin: 0 auto;
}
/* line 793, ../scss/controls.scss */
.bsm_navbar .nav_container .bsm_navButton:hover, .bsm_navbar .nav_container .bsm_navButton:focus, .bsm_navbar .nav_container .bsm_navButton.hover {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#121a2e), color-stop(0.5, #121a2e), color-stop(0.5, black), to(black));
  color: #fff;
}
/* line 799, ../scss/controls.scss */
.bsm_navbar .nav_container .bsm_navButton {
  height: 60px;
  padding: 2px;
  margin: 1px;
  display: inline-block;
  border: solid 1px rgba(79, 79, 79, 0.75);
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
  background-image: linear, from(#7d828c), color-stop(0.5, #303749), color-stop(0.5, #121a2e), to(#121a2e);
  margin: 0 auto;
}
/* line 809, ../scss/controls.scss */
.bsm_navbar .nav_container .bsm_navButton .icon {
  color: #fff;
  padding-left: 30px;
  margin: 0 auto;
  display: block;
  width: 60px;
}
/* line 819, ../scss/controls.scss */
.bsm_navbar .nav_container .bsm_navButton .text {
  opacity: 0.7;
  text-align: center;
  font-size: 12px;
  color: #fff;
  position: relative;
  top: -22px;
  margin: 0 auto;
}

/* line 833, ../scss/controls.scss */
.bsm_List .item {
  min-height: 70px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #c7c7c7));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #c7c7c7 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #c7c7c7 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #c7c7c7 100%);
  background-image: -ms-linear-gradient(top, #ffffff 0%, #c7c7c7 100%);
  background-image: linear-gradient(top, #ffffff 0%, #c7c7c7 100%);
}
/* line 836, ../scss/controls.scss */
.bsm_List .item .img {
  height: 100%;
  vertical-align: center;
  max-width: 60px;
  display: inline;
  margin: 3px;
  margin-right: 5px;
  float: left;
}
/* line 845, ../scss/controls.scss */
.bsm_List .item .text {
  color: #232323;
  margin-left: 54px;
  text-align: left;
  padding: 3px;
  font-size: 13px;
  font-weight: normal;
}
