@import url(transitions.css);
@font-face {
  font-family: 'HelveticaNeue';
  src: url("./fonts/helveticaneueltstd-roman-webfont.eot");
  src: url("./fonts/helveticaneueltstd-roman-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/helveticaneueltstd-roman-webfont.woff") format("woff"), url("./fonts/helveticaneueltstd-roman-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MetaM';
  src: url("./fonts/metamediumlf-roman-webfont.eot");
  src: url("./fonts/metamediumlf-roman-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/metamediumlf-roman-webfont.woff") format("woff"), url("./fonts/metamediumlf-roman-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* line 35, ../scss/controls.scss */
body {
  background-color: #d6d6d6;
  font-family: 'HelveticaNeue';
}

/* line 40, ../scss/controls.scss */
img {
  border: 0px;
}

/* line 49, ../scss/controls.scss */
.bsm_selection {
  font-size: 15px;
  vertical-align: top;
}
/* line 54, ../scss/controls.scss */
.bsm_selection .bsm_selection_menu {
  color: #929292;
  position: absolute;
  width: 250px;
  z-index: 10;
  max-height: 150px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
/* line 62, ../scss/controls.scss */
.bsm_selection .bsm_selection_menu > * {
  -webkit-transform: translateZ(0px);
}
/* line 65, ../scss/controls.scss */
.bsm_selection .bsm_selection_menu .bsm_selection_btn {
  border: 1px #d5d5d5 solid;
  background-color: white;
}

/* line 71, ../scss/controls.scss */
.bsm_cell {
  min-height: 30px;
  padding: 10px;
}

/* line 76, ../scss/controls.scss */
.bsm_selection_title {
  border: 1px #d5d5d5 solid;
  background-color: white;
  border-radius: 5px !important;
  color: #929292;
}

/* line 82, ../scss/controls.scss */
#selectionListIcon {
  float: right;
  right: -10px;
  position: relative;
  top: -7px;
  background-image: url("../css/images/controls/selectionListIcon.png");
  width: 25px;
  height: 25px;
  right: 3px;
  z-index: 2;
}

/* line 95, ../scss/controls.scss */
.bsm_cell_content_title {
  padding: 15px;
}

/* line 98, ../scss/controls.scss */
.bsm_cell_padding {
  padding: 15px;
}

/* line 102, ../scss/controls.scss */
.bsm_cell_nopadding {
  padding: 6px;
}

/* line 109, ../scss/controls.scss */
.bsm_emtcell_accountName {
  display: inline-block;
  font-weight: bold;
}

/* line 117, ../scss/controls.scss */
.bsm-text-input {
  color: #929292;
  padding: 13px;
  font-size: 14px;
  width: 100%;
  border: 1px #d5d5d5 solid;
  background-color: white;
  border-radius: 5px !important;
}

/* line 127, ../scss/controls.scss */
.bsm-textarea-input {
  color: #929292;
  padding: 13px;
  font-size: 14px;
  width: 246px;
  border: 1px #d5d5d5 solid;
  background-color: white;
  border-radius: 5px !important;
}

/* line 138, ../scss/controls.scss */
.bsm-input-icon {
  right: 15px;
  float: right;
  display: inline;
  position: relative;
  top: -37px;
  width: 25px;
  height: 25px;
  z-index: 2;
}

/* line 148, ../scss/controls.scss */
.bsm-expanding-icon {
  right: 15px;
  float: right;
  display: inline;
  position: relative;
  top: -37px;
  width: 25px;
  height: 25px;
  z-index: 2;
}

/* line 158, ../scss/controls.scss */
.bsm-textareainput-icon {
  right: 15px;
  float: right;
  display: inline;
  position: absolute;
  top: -37px;
  width: 25px;
  height: 25px;
  z-index: 2;
}

/* line 168, ../scss/controls.scss */
input::-webkit-input-list-button {
  display: none !important;
}

/* line 172, ../scss/controls.scss */
.input_notselected {
  background-image: url("../css/images/controls/inputIcon.png");
}

/* line 175, ../scss/controls.scss */
.input_selected {
  background-image: url("../css/images/controls/xsm.png");
}

/* line 180, ../scss/controls.scss */
.expanding_notselected {
  background-image: url("../css/images/controls/bluedownarrow.png");
}

/* line 183, ../scss/controls.scss */
.expanding_selected {
  background-image: url("../css/images/controls/blueuparrow.png");
}

/* line 187, ../scss/controls.scss */
expanding_visible {
  display: inline-block;
}

/* line 191, ../scss/controls.scss */
expanding_invisible {
  display: none;
}

/* line 197, ../scss/controls.scss */
.bsm_label {
  padding: 15px;
  border: 1px #d5d5d5 solid;
  background-color: white;
  color: #929292;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 203, ../scss/controls.scss */
.bsm_label .bsm_cell_accountName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 230px;
}

/* line 212, ../scss/controls.scss */
.bsm_toggle {
  font-size: 15px;
  font-weight: bold;
  white-space: nowrap;
}

/* line 218, ../scss/controls.scss */
.bsm-toggle-menu {
  font-size: 9px;
  white-space: nowrap;
}

/* line 222, ../scss/controls.scss */
.bsm-toggle-left {
  display: inline-block;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 10px;
  border: 1px #d5d5d5 solid;
  background-color: white;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -ms-border-top-left-radius: 10px;
  -o-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -ms-border-bottom-left-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  min-width: 40px;
  padding-left: 10px;
}

/* line 236, ../scss/controls.scss */
.bsm-toggle-right {
  display: inline-block;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 10px;
  border: 1px #d5d5d5 solid;
  background-color: white;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  -ms-border-top-right-radius: 10px;
  -o-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -ms-border-bottom-right-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  min-width: 40px;
  margin: 0 auto;
}

/* line 248, ../scss/controls.scss */
.toggle_on {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #1b367a), color-stop(100%, #5d92f7));
  background-image: -webkit-linear-gradient(bottom, #1b367a 0%, #5d92f7 100%);
  background-image: -moz-linear-gradient(bottom, #1b367a 0%, #5d92f7 100%);
  background-image: -o-linear-gradient(bottom, #1b367a 0%, #5d92f7 100%);
  background-image: -ms-linear-gradient(bottom, #1b367a 0%, #5d92f7 100%);
  background-image: linear-gradient(bottom, #1b367a 0%, #5d92f7 100%);
  color: #fff;
}

/* line 252, ../scss/controls.scss */
.toggle_off {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #bdbdbd));
  background-image: -webkit-linear-gradient(top, #fbfbfb 0%, #bdbdbd 100%);
  background-image: -moz-linear-gradient(top, #fbfbfb 0%, #bdbdbd 100%);
  background-image: -o-linear-gradient(top, #fbfbfb 0%, #bdbdbd 100%);
  background-image: -ms-linear-gradient(top, #fbfbfb 0%, #bdbdbd 100%);
  background-image: linear-gradient(top, #fbfbfb 0%, #bdbdbd 100%);
  color: #6d6d6d;
}

/* line 259, ../scss/controls.scss */
.bsm_warning {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -ms-box-align: stretch;
  box-align: stretch;
  min-width: 100%;
}
/* line 264, ../scss/controls.scss */
.bsm_warning .bsm_warning_icon {
  padding: 5px;
  width: 50px;
  min-height: 40px;
  background: url("../css/images/controls/confirm.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
  background-color: #dfe6a6;
  border: 1px #165610 solid;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -ms-border-top-left-radius: 10px;
  -o-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -ms-border-bottom-left-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
/* line 277, ../scss/controls.scss */
.bsm_warning .bsm_warning_msg {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  padding: 5px;
  min-height: 40px;
  color: #6d6d6d;
  font-size: 16px;
  font-weight: bold;
  background-color: #fff;
  border: 1px #165610 solid;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  -ms-border-top-right-radius: 10px;
  -o-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -ms-border-bottom-right-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* line 289, ../scss/controls.scss */
.bsm_warning .bsm_warning_icon_confirm {
  padding: 5px;
  width: 50px;
  min-height: 40px;
  background: url("../css/images/controls/confirm.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
  background-color: #dfe6a6;
  border: 1px #165610 solid;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -ms-border-top-left-radius: 10px;
  -o-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -ms-border-bottom-left-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
/* line 302, ../scss/controls.scss */
.bsm_warning .bsm_warning_msg_confirm {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  padding: 5px;
  min-height: 40px;
  color: #6d6d6d;
  font-size: 16px;
  font-weight: bold;
  background-color: #fff;
  border: 1px #165610 solid;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  -ms-border-top-right-radius: 10px;
  -o-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -ms-border-bottom-right-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* line 314, ../scss/controls.scss */
.bsm_warning .bsm_warning_icon_alert {
  padding: 5px;
  width: 50px;
  min-height: 40px;
  background: url("../css/images/controls/warning.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
  background-color: #fff4a3;
  border: 1px #f44a3e solid;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -ms-border-top-left-radius: 10px;
  -o-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -ms-border-bottom-left-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
/* line 327, ../scss/controls.scss */
.bsm_warning .bsm_warning_msg_alert {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  padding: 5px;
  min-height: 40px;
  color: #6d6d6d;
  font-size: 16px;
  font-weight: bold;
  background-color: #fff;
  border: 1px #f44a3e solid;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  -ms-border-top-right-radius: 10px;
  -o-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -ms-border-bottom-right-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* line 341, ../scss/controls.scss */
.bsm_scrollView {
  border: 1px #d5d5d5 solid;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  color: #929292;
  z-index: 10;
  min-height: 100px;
  height: 100px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
/* line 352, ../scss/controls.scss */
.bsm_scrollView > * {
  -webkit-transform: translateZ(0px);
}

/* line 358, ../scss/controls.scss */
.bsm_childpage {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 365, ../scss/controls.scss */
.bsm_Button {
  margin: 5px;
  display: inline-block;
  padding: 10px;
  min-width: 10px;
  border: 1px #d5d5d5 solid;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #1b367a), color-stop(100%, #5d92f7));
  background-image: -webkit-linear-gradient(bottom, #1b367a 0%, #5d92f7 100%);
  background-image: -moz-linear-gradient(bottom, #1b367a 0%, #5d92f7 100%);
  background-image: -o-linear-gradient(bottom, #1b367a 0%, #5d92f7 100%);
  background-image: -ms-linear-gradient(bottom, #1b367a 0%, #5d92f7 100%);
  background-image: linear-gradient(bottom, #1b367a 0%, #5d92f7 100%);
  color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  min-width: 40px;
}

/* line 376, ../scss/controls.scss */
.bsm_spinner {
  background: url("../css/images/controls/spinner.gif");
  background-color: #000;
  height: 80px;
  width: 80px;
  padding: 5px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  position: fixed;
  top: 40%;
  left: 45%;
  z-index: 9999999;
  opacity: 0.8;
}

/* line 392, ../scss/controls.scss */
.bsm_spinner_with_text {
  background: url("../css/images/controls/spinner.gif");
  background-color: #000;
  height: 80px;
  width: 80px;
  padding: 5px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: 50% 35%;
  background-size: 30px;
  position: fixed;
  top: 40%;
  left: 45%;
  z-index: 9999999;
  opacity: 0.8;
}
/* line 407, ../scss/controls.scss */
.bsm_spinner_with_text .text {
  width: 100%;
  text-align: center;
  position: absolute;
  padding-top: 5px;
  bottom: 5px;
  color: #FFF;
  font-size: 0.9em;
}

/* line 418, ../scss/controls.scss */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999998;
}
