@import "compass/css3";
@import "compass/utilities";
@import "../css/transitions.css";
$borderColor: #a3a3a3;
$darkgrey:#929292;
$backgroundColor:#fff;
$minWidth:100%;
$padding:15px;

$darkheader:linear-gradient(top, #7d828c 0%,#303749 50%,  #121a2e 50%, #121a2e 100%);
$toggleon: linear-gradient(bottom , rgb(27,54,122) 0%,rgb(93,146,247) 100%);
$toggleoff: linear-gradient(top , rgb(251,251,251) 0%,rgb(189,189,189) 100%);
$listview: linear-gradient(top , rgb(255,255,255) 0%,rgb(199,199,199) 100%);
$blueBar: linear-gradient(top, #6FACD5  0%, #497BAE 100%);
$greenBar: linear-gradient(top,#74B042 0%, #56A00E 100%);

//$spinner:image-url("../css/images/controls/spinner.gif");

.container_12{
  width:100%;
  
}
.grid_6{
  margin:10px;
  width:400px;
  display:inline-block;
  float:left;
}
@font-face {
    font-family: 'HelveticaNeue';
    src: url('./fonts/helveticaneueltstd-roman-webfont.eot');
    src: url('./fonts/helveticaneueltstd-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/helveticaneueltstd-roman-webfont.woff') format('woff'),
         url('./fonts/helveticaneueltstd-roman-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'MetaM';
    src: url('./fonts/metamediumlf-roman-webfont.eot');
    src: url('./fonts/metamediumlf-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/metamediumlf-roman-webfont.woff') format('woff'),
         url('./fonts/metamediumlf-roman-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
  background-color:#d6d6d6;
  font-family: 'HelveticaNeue';
           
}
img{
  border:0px;
  
}




//selection control

.bsm_selection{
font-size:15px;
vertical-align: top; 
 

  .bsm_selection_menu{
    color:$darkgrey;
    position:absolute;
    width:250px;
    z-index:10;
    max-height:150px;
    overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      & > * {
          -webkit-transform: translateZ(0px); // fix for webkit scrolling/ relative bug
      }
    .bsm_selection_btn{
      border:1px $borderColor solid;
      background-color:$backgroundColor;      
    } 
  }
}
.bsm_cell{
      min-height:30px;
      padding:10px;
}

.bsm_selection_title{
    border:1px $borderColor solid;
    background-color:$backgroundColor;
    border-radius:5px !important; 
     color:$darkgrey;
}
#selectionListIcon{
     float:right;
     right:-10px;
     position:relative;
     top:-7px;
     background-image: url( '../css/images/controls/selectionListIcon.png');
     width: 25px;
     height: 25px;
     right: 3px;
     z-index: 2;
}

//cell style 
.bsm_cell_content_title{
   padding:15px;
}
.bsm_cell_padding{
   padding:15px;
  
}
.bsm_cell_nopadding{
  padding:6px;
}

.bsm_emtcell_accountName {
  display:inline-block;
  font-weight:bold; 
}

/// input control

.bsm-text-input{
   color:$darkgrey;
    padding:13px;
    font-size:14px;
    width:100%;
    border:1px $borderColor solid;
    background-color:$backgroundColor;
    border-radius:5px !important;    
}

.bsm-textarea-input{
   color:$darkgrey;
   padding:13px;
   font-size:14px;
   width:246px;
   border:1px $borderColor solid;
   background-color:$backgroundColor;
   border-radius:5px !important;  
}
 .bsm-input-icon{
     right:15px;
     float:right;
     display:inline;
     position:relative;
     top:-37px; 
     width: 25px;
     height: 25px;
     z-index: 2;
  }
 .bsm-expanding-icon{
     right:15px;
     float:right;
     display:inline;
     position:relative;
     top:-37px; 
     width: 25px;
     height: 25px;
     z-index: 2;
  }
 .bsm-textareainput-icon{
     right:15px;
     float:right;
     display:inline;
     position:absolute;
     top:-37px; 
     width: 25px;
     height: 25px;
     z-index: 2;
  }
 input::-webkit-input-list-button {
  display:none !important; 
 }
  
 .input_notselected{
   background-image: url( '../css/images/controls/inputIcon.png');    
 }
 .input_selected{
   background-image: url( '../css/images/controls/xsm.png');
   
 }
 
 .expanding_notselected{
   background-image: url( '../css/images/controls/bluedownarrow.png');     
 }
 .expanding_selected{
   background-image: url( '../css/images/controls/blueuparrow.png');
 }
 
 expanding_visible{
   display: inline-block; 
 }
 expanding_invisible{
   display: none;
 }
 
 
 ///  Label control
 .bsm_label{
    padding:$padding;
    border:1px $borderColor solid;
    background-color:$backgroundColor;
    color:$darkgrey;
    @include border-radius(5px);  
     .bsm_cell_accountName{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width:230px;
    }
 }
 
 //   Toggle control
 .bsm_toggle{
    font-size:15px;
    font-weight:bold;
    white-space: nowrap;
   
 }
 .bsm-toggle-menu{
    font-size:9px;
    white-space: nowrap;
 }
 .bsm-toggle-left{
    display:inline-block;
    padding:5px;
    padding-top:10px;
    padding-bottom:10px;
    min-width:10px;
    border:1px $borderColor solid;
    background-color:$backgroundColor;
    @include border-left-radius(10px); 
    min-width:40px;
    padding-left:10px;
    
 
 }
 .bsm-toggle-right{
    display:inline-block;
    padding:5px;
    padding-top:10px;
    padding-bottom:10px;
    min-width:10px;
    border:1px $borderColor solid;
    background-color:$backgroundColor;
    @include border-right-radius(10px); 
    min-width:40px;
    margin: 0 auto;
 }
 .toggle_on{
    @include background-image($toggleon);
    color:#fff;
 }
 .toggle_off{
    @include background-image($toggleoff);
    color:#6d6d6d;
 }
 
 //warning msg
 
 .bsm_warning{
   @include display-box;
   @include box-orient(horizontal);
   @include box-align(stretch);
   min-width:100%;
   .bsm_warning_icon{
   
     padding:5px;
     width:50px;
     min-height:40px;
     background: url( '../css/images/controls/confirm.png');
     background-repeat:no-repeat;
     background-position:center; 
     background-size:40px;
     background-color: rgb(223,230,166);
     border: 1px rgb(22,86,16) solid;
     @include border-left-radius(10px); 
   }
   .bsm_warning_msg{
     @include box-flex(1);
     padding:5px;
     min-height:40px;
     color:#6d6d6d;
     font-size:16px;
     font-weight:bold;
     background-color:#fff;
      border: 1px rgb(22,86,16) solid;
   
     @include border-right-radius(10px); 
   }
    .bsm_warning_icon_confirm{
   
     padding:5px;
     width:50px;
     min-height:40px;
     background: url( '../css/images/controls/confirm.png');
     background-repeat:no-repeat;
     background-position:center; 
     background-size:40px;
     background-color: rgb(223,230,166);
     border: 1px rgb(22,86,16) solid;
     @include border-left-radius(10px); 
   }
   .bsm_warning_msg_confirm{
     @include box-flex(1);
     padding:5px;
     min-height:40px;
     color:#6d6d6d;
     font-size:16px;
     font-weight:bold;
     background-color:#fff;
      border: 1px rgb(22,86,16) solid;
   
     @include border-right-radius(10px); 
   }
   .bsm_warning_icon_alert{
   
     padding:5px;
     width:50px;
     min-height:40px;
     background: url( '../css/images/controls/warning.png');
     background-repeat:no-repeat;
     background-position:center; 
     background-size:40px;
     background-color: rgb(255,244,163);
     border: 1px rgb(244,74,62) solid;
     @include border-left-radius(10px); 
   }
   .bsm_warning_msg_alert{
     @include box-flex(1);
     padding:5px;
     min-height:40px;
     color:#6d6d6d;
     font-size:16px;
     font-weight:bold;
     background-color:#fff;
      border: 1px rgb(244,74,62) solid;
   
     @include border-right-radius(10px); 
   }
 }
 
.bsm_scrollView{
    padding:5px;
    margin:3px;
    border:1px $borderColor solid;
    background-color:$backgroundColor;
    @include border-radius(10px); 
    color:$darkgrey;
    //z-index:10;
    //min-height:100px;
    height:100px;
    overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      & > * {
          -webkit-transform: translateZ(0px); // fix for webkit scrolling/ relative bug
      }
}

///buttons

      .bsm_Button:hover, .bsm_Button:focus, .bsm_Button.hover {
      //padding-left:-20px;
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#121A2E), color-stop(0.5, #121A2E), color-stop(0.5, #000000), to(#000000));
      color: #fff;
      }

.bsm_Button{
    //margin:5px;
    display:inline-block;
    min-width:10px;
    border:1px $borderColor solid;
    @include background-image($toggleon);
    color:#fff;
    padding:9px;
    @include border-radius(10px); 
    min-width:40px;
    margin:10px;
    #text{
      padding:10px;
      display:inline;
    }
    .bsm_icon{
      svg path{@include box-shadow(#333 0px 0px 10px);}
      height:15px;
      width:15px;
      float:right;
      padding-right:20px;
      position:relative;
      left:4px;
      top:-5px;
    }
     .bsm_iconleft{
      svg path{@include box-shadow(#333 0px 0px 10px);}
      height:15px;
      width:15px;
      float:left;
      padding-right:20px;
      position:relative;
      left:4px;
      top:-5px;
    }
    
}
.bsm_spinner{
   //background :url("../css/images/controls/spinner.gif");
   background-color:#000;
   padding:15px;
   border-radius:10px;
   position:fixed;
   top:40%;
   left:45%;
   z-index:9999999;
   opacity:0.8;
}
.bsm_spinner_with_text{
   //background :url("../css/images/controls/spinner.gif");
   background-color:#000;
   height:80px;
   width:80px;
   padding:5px;
   border-radius:10px;
   background-repeat:no-repeat;
   background-position:50% 35%; 
   background-size:30px;
   position:fixed;
   top:40%;
   left:45%;
   z-index:9999999;
   opacity:0.8;
   .text{
       width:100%;
     
       text-align:center;
       position:absolute;
       padding-top:5px;
       bottom:5px;
       color:#FFF;
       font-size:0.9em;
   }
}
.bsm_overlay{
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  z-index:1000;
}

//header

.bsm_headerbar{
    width:100%;
    display:block;
    border-top:none;
    position:relative;
    right:5px;
    height: 40px;
    padding: 0px 10px;
    @include background-image($darkheader);
    padding-left:10px;
    //position: relative;
    //top:-36px;
    z-index:5;
    @include display-box;
  
     h3 {
      margin: 0px;
      margin-bottom: 10px;
      color: #fff;
      font-size: 20px;
      line-height: 40px;
      display: block;
      text-align: center;
      font-weight: bold;
    }
    .button
    {
      color: #fff;
    
      margin: 0 auto;
      margin-top:10px;
      max-height:30px;
      //height:25px;
      vertical-align:center;
      text-decoration: none;
      display: inline-block;
      padding: 4px 10px;
      font-size: 12px;
      font-weight: bold;
     @include border-radius(5px); 
    }
    .right{
       position:relative;
       margin:10px;
       left:-10px;
      // float:right;
    }
    .button.blue
    {
      @include background-image($toggleon);
      border: solid 1px rgba(25, 79, 219, 0.25);
     @include box-shadow( 2px 2px 4px rgba(0, 0, 0, 0.5), inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25));
     }  
    .button.blue:hover, .button.blue.hover {
      @include box-shadow( 0px 0px 4px rgba(0, 0, 0, 0.5), inset 0px 0px 2px rgba(255, 255, 255, 0.25), inset 0px 0px 2px rgba(0, 0, 0, 0.25));
      padding: 5px 9px 3px 11px;
    }
    .button.black {
      @include background-image($darkheader);
      border: solid 1px rgba(79, 79, 79, 0.75);
    }
    .button.black:hover, .button.black:focus, .button.black.hover {
      //padding-left:-20px;
     @include background-image(linear, 0% 0%, 0% 100%, from(#121A2E), color-stop(0.5, #121A2E), color-stop(0.5, #000000), to(#000000));
      color: #fff;
    }
    .button
    {
      margin-top: 6px;
    }
    .button.back {
      position: relative;
      left:0px;
      margin:5px;
      margin-right:0px;
      //padding-left: 5px;
     // margin-left: 8px;
    }
    .back.black > .pointer {
     @include background-image(linear, left top, right bottom, from(#7d828c),color-stop(0.5, #303749), color-stop(0.5, #121a2e), to(#121a2e));
      border-left: solid 1px rgba(79, 79, 79, 0.75);
      border: solid 1px rgba(79, 79, 79, 0.75);
      -webkit-border-top-left-radius: 6px;
      -webkit-border-bottom-right-radius: 6px;
      height: 19px;
      width: 19px;
      //display: inline-block;
      -webkit-transform: rotate(45deg);
      -webkit-mask-image: -webkit-gradient(linear, left bottom, right top, from(#000000), color-stop(0.5,#000000), color-stop(0.5, transparent), to(transparent));
      position: absolute;
      left: -7px;
      top: 1px;
      -webkit-background-clip: content
    }
    .back:hover .pointer, .back.hover .pointer {
     @incude background-image(linear, left top, right bottom, from(#4286f5), color-stop(0.5, #4286f5), color-stop(0.5, #194fdb), to(#194fdb));
    }     
  .bsm_headerbarTitle{
     @include box-flex(1);
     position:relative;
     right:10px;
    
  }
}



//popups

menu{
    z-index:1001;
    overflow:visible;
  .pop {
  position:relative;
  border: solid 2px #6a6a6a;
  margin: 0px;
  padding:0px;
  font: normal 14px/16px Helvetica, Sans-serif;
  //display:none;
  z-index:1002;
  //position:fixed;
  //bottom:40px;
  //right:20px;
  width: 300px;
  background-color: #121a2e;
  //border: solid 1px #4f4f4f;
  display:block;
  -webkit-padding-start: 0px;
 @include border-radius(10px); 
  -webkit-box-shadow: 0px 5px 10px #000;
  margin: 5px 5px 5px 5px !important;
 
  .menuHandle {
      position: absolute;
      top: -15px;
      left: 10px;
      height: 30px !important;
      width: 30px;
      border: solid 2px #6a6a6a;
      border-bottom: none;
      border-right: none;
      background-color: #7d828c !important;
      /* Mask Image Complete NOT YET */
      -webkit-mask-image: -webkit-gradient(linear, left top, right bottom, from(#000000), color-stop(0.5,#000000), color-stop(0.5, #000000), to(#000000));
      -o-mask-image: url(http://campfiresites.com/prototypes/images/bg-heading-orange-grid.png);
      -moz-mask-image: url(http://campfiresites.com/prototypes/images/bg-heading-orange-grid.png);
      mask-image: url(http://campfiresites.com/prototypes/images/bg-heading-orange-grid.png);     

      /* Rotate Complete */
      transform: rotate(45deg);
      -ms-transform: rotate(45deg); /* IE 9 */
      -webkit-transform: rotate(45deg); /* Safari and Chrome */
      -o-transform: rotate(45deg); /* Opera */
      -moz-transform: rotate(45deg); /* Firefox */    
  }
  .menuHandleDown {
      position: absolute;
      bottom: -17px;
      left: 10px;
      height: 30px !important;
      width: 30px;
      border: solid 2px #6a6a6a;
      border-top: none;
      border-left: none;
      background-color: #121a2e !important;
      /* Mask Image Complete NOT YET */
      -webkit-mask-image: -webkit-gradient(linear, left top, right bottom, from(#000000), color-stop(0.5,#000000), color-stop(0.5, #000000), to(#000000));
      -o-mask-image: url(http://campfiresites.com/prototypes/images/bg-heading-orange-grid.png);
      -moz-mask-image: url(http://campfiresites.com/prototypes/images/bg-heading-orange-grid.png);
      mask-image: url(http://campfiresites.com/prototypes/images/bg-heading-orange-grid.png);     

      /* Rotate Complete */
      transform: rotate(45deg);
      -ms-transform: rotate(45deg); /* IE 9 */
      -webkit-transform: rotate(45deg); /* Safari and Chrome */
      -o-transform: rotate(45deg); /* Opera */
      -moz-transform: rotate(45deg); /* Firefox */    
       -webkit-box-shadow: 0px 5px 10px #000;
      }
  .popdiv {
      //min-height:150px;
      display:inline-block;
      position:relative;
      //top:-27px;
      z-index:5;
      padding:3px;
      background-color: #e5e5e5;
      margin: 3px 3px 10px 3px !important;
     @include border-radius(5px); 
    
    .content {
      margin:2px;
      height:100%;
     // display:inline-block;
     // min-height:110px;
     // height:110px;
      //padding-top:10px;
     // padding-bottom:10px;
      //height:240px;
    }
    .control{ 
      //margin:12px;
      //padding:5px;
     // display:inline;
      //padding-top:10px;
      overflow:hidden;
      //padding-bottom:10px;
      //height:110px;
    }
   
  }
  }
  header {
    display:block;
    border-top:none;
    position:relative;
    width:93%;
    height: 40px;
   // width:100%;
    padding: 0px 10px;
    @include background-image($darkheader);
   @include border-top-left-radius(8px); 
   @include border-top-right-radius(8px); 
    //position: relative;
    //top:-36px;
    z-index:5;
    @include display-box;
    
    
    //-webkit-box-shadow: 0 5px 4px -4px black;

    h3 {
      margin: 0px;
      margin-bottom: 10px;
      color: #fff;
      font-size: 20px;
      line-height: 40px;
      display: block;
      text-align: center;
      font-weight: bold;
      
     @include box-flex(1);
    }
    .button
    {
      color: #fff;
      
      margin: 0;
      max-height:33px;
      //height:25px;
      vertical-align:center;
      text-decoration: none;
      display: inline-block;
      padding: 4px 10px;
      font-size: 12px;
      font-weight: bold;
    
     @include border-radius(5px); 
    }
    .button.blue
    {
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4286f5), to(#194fdb));
      border: solid 1px rgba(25, 79, 219, 0.25);
     @include box-shadow(2px 2px 4px rgba(0, 0, 0, 0.5), inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25));
     }
    .button.blue:hover, .button.blue.hover {
      -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5), inset 0px 0px 2px rgba(255, 255, 255, 0.25), inset 0px 0px 2px rgba(0, 0, 0, 0.25);
      padding: 5px 9px 3px 11px;
    }
    .button.black {
      @include background-image($darkheader);
      border: solid 1px rgba(79, 79, 79, 0.75);
    }
    .button.black:hover, .button.black:focus, .button.black.hover {
      //padding-left:-20px;
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#121A2E), color-stop(0.5, #121A2E), color-stop(0.5, #000000), to(#000000));
      color: #fff;
    }
    .button
    {
      margin-top: 6px;
    }
    .button.back {
     position: relative;
      left:0px;
      margin:5px;
      margin-right:0px;
   
      //padding-left: 5px;
     // margin-left: 8px;
    }
    .back.black > .pointer {
      background-image: -webkit-gradient(linear, left top, right bottom, from(#7d828c),color-stop(0.5, #303749), color-stop(0.5, #121a2e), to(#121a2e));
      border-left: solid 1px rgba(79, 79, 79, 0.75);
      border: solid 1px rgba(79, 79, 79, 0.75);
      -webkit-border-top-left-radius: 6px;
      -webkit-border-bottom-right-radius: 6px;
      height: 19px;
      width: 19px;
      display: inline-block;
      -webkit-transform: rotate(45deg);
      -webkit-mask-image: -webkit-gradient(linear, left bottom, right top, from(#000000), color-stop(0.5,#000000), color-stop(0.5, transparent), to(transparent));
      position: absolute;
      left: -7px;
      top: 1px;
      -webkit-background-clip: content
    }
    .back:hover .pointer, .back.hover .pointer {
      background-image: -webkit-gradient(linear, left top, right bottom, from(#4286f5), color-stop(0.5, #4286f5), color-stop(0.5, #194fdb), to(#194fdb));
    }    
  
  }   
 }
 
 .bsm_navbar{
  position:fixed;
  bottom:0px;
  padding-right:15px;
   display:block;
    border-top:none;
    width:100%;
    height: 60px;
    //padding: 0px 10px;
    @include background-image($darkheader);
     z-index:9999;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: stretch;
    .nav_container{
      margin: 0 auto;
      .bsm_navButton:hover{
      //-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5), inset 0px 0px 2px rgba(255, 255, 255, 0.25), inset 0px 0px 2px rgba(0, 0, 0, 0.25);
     // padding: 5px 9px 3px 11px;
      }
      .bsm_navButton:hover, .bsm_navButton:focus, .bsm_navButton.hover {
      //padding-left:-20px;
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#121A2E), color-stop(0.5, #121A2E), color-stop(0.5, #000000), to(#000000));
      color: #fff;
      }
    
      .bsm_navButton{
        //width:50px;
        height:60px;
        padding:2px;
        margin:1px;
        display: inline-block;
        border: solid 1px rgba(79, 79, 79, 0.75);
        @include box-shadow(2px 2px 4px rgba(0, 0, 0, 0.5), inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25));   
        @include background-image(linear, from(#7d828c),color-stop(0.5, #303749), color-stop(0.5, #121a2e), to(#121a2e));
        margin: 0 auto;
        .icon{
          color:#fff;
          padding-left:30px;
          margin: 0 auto;
          display:block;
          width:60px;
           //-webkit-box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.25), inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(255, 255, 255, 0.25);
     
          //height:60px;
        }  
        .text{
          opacity:0.7;
          text-align:center;
          font-size:12px;
          color:#fff;
          position:relative;
          top:-22px;
          margin: 0 auto;
        }
      }
    }
 }

.bsm_List{
  .item{
    min-height:70px;
   @include background-image($listview);
   .img{
     height:100%;
     vertical-align:center;
     max-width:60px;
     display:inline;
     margin:3px;
     margin-right:5px;
     float:left;
   }
   .text{
     color:#232323;
     margin-left:54px;
     text-align:left;
     padding:3px;
     font-size:13px;
     font-weight:normal;
     //vertical-align:top;
    // display:inline; 
   }
  }
}
