#container { 
  
  //perspective: 800px;
}
.bsm_page{
  width: 100%;
  margin-bottom:60px;
  padding:20px;
  display:inline-block;

  
    .bsm_childpage{
      display:none;
      position:relative;
      width:100%;
      height:100%;
     // overflow-y: scroll;
     // -webkit-overflow-scrolling: touch;
     // & > * {
      //    -webkit-transform: translateZ(0px); // fix for webkit scrolling/ relative bug
     // }
     
    }
    
    .flipped{
         display:block;
         transform: rotateY( 180deg );
    }   
    
}
 
   