#container { 
  
  perspective: 800px;
}
.bsm_page{
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
  
    .bsm_childpage{
      display: hidden;
      position: absolute;
      width: 100%;
      height: 100%;
     
     
    }
    
    .flipped{
         display:block;
         transform: rotateY( 180deg );
    }   
    
}
 
   